.TransactionEditForm {
  background-color: transparent;
  display: none;
}

td input, td select {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}

.editButtons, .saveButtons {
  display: flex;
}

.editButtons span, .saveButtons span {
  margin: 0.5em 0.5em;
}
